#!/usr/bin/make -f


BUILD_DIR:=dist

%:
	dh $@
build:
	dh $@

override_dh_auto_build:
	mkdir build
	npm install --prefix ./build  d3
	dch -v `cat build/node_modules/d3/dist/package.js | grep "version =" | sed 's/[^0-9\.]*//g'` `git log -1 --pretty=%B | head -n 1`
	dh_auto_build

override_dh_auto_clean:
	dh_clean

override_dh_clean:
	rm -rf build
	dh_clean

.PHONY: build
